@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*::selection {
  background-color: #231f20;
  color: #fdf9ec;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #fdf9ec;
}

body {
  background-color: #fdf9ec;
  font-family: "HelvenicaNowDisplayLight";
  color: #231f20;
}

/* helvetica */

@font-face {
  font-family: "HelvenicaNowDisplayLight";
  src: local("HelvenicaNowDisplayLight"),
    url("./assets/fonts/HelveticaNowDisplay-Light.ttf");
}

.helv-light {
  font-family: "HelvenicaNowDisplayLight";
}

@font-face {
  font-family: "HelvenicaNowDisplayRegular";
  src: local("HelvenicaNowDisplayRegular"),
    url("./assets/fonts/HelveticaNowDisplay-Regular.ttf");
}

.helv-regular {
  font-family: "HelvenicaNowDisplayRegular";
}

@font-face {
  font-family: "HelvenicaNowDisplayMedium";
  src: local("HelvenicaNowDisplayMedium"),
    url("./assets/fonts/HelveticaNowDisplay-Medium.ttf");
}

.helv-medium {
  font-family: "HelvenicaNowDisplayMedium";
}

@font-face {
  font-family: "HelvenicaNowDisplayBold";
  src: local("HelvenicaNowDisplayBold"),
    url("./assets/fonts/HelveticaNowDisplay-Bold.ttf");
}

.helv-bold {
  font-family: "HelvenicaNowDisplayBold";
}

/* made mirage */

@font-face {
  font-family: "MadeMirageRegular";
  src: local("MadeMirageRegular"), url("./assets/fonts/MADEMirage-Regular.otf");
}

.made-regular {
  font-family: "MadeMirageRegular";
}

@font-face {
  font-family: "MadeMirageMedium";
  src: local("MadeMirageMedium"), url("./assets/fonts/MADEMirage-Medium.otf");
}

.made-medium {
  font-family: "MadeMirageMedium";
}

@font-face {
  font-family: "MadeMirageBold";
  src: local("MadeMirageBold"), url("./assets/fonts/MADEMirage-Bold.otf");
}

.made-bold {
  font-family: "MadeMirageBold";
}

/* menu */
.menu-opened {
  overflow: visible;
  height: 12rem;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  padding: 1rem;
}

nav a.hover-effect::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0%;
  height: 1.5px;
  background-color: #fdf9ec;
  transition: all 0.3s ease-in-out;
}

nav a.hover-effect:hover::before {
  width: 100%;
}

button.opened span.child-1 {
  transform: translate(0.02rem, 0.57rem) rotate(45deg);
}

@media (min: 1024px) {
  button.opened span.child-1 {
    transform: translate(0.02vw, 0.57vw) rotate(45deg);
  }
}

button.opened span.child-2 {
  opacity: 0;
}

button.opened span.child-3 {
  transform: translate(0.015rem, -0.5rem) rotate(-45deg);
}

@media (min: 1024px) {
  button.opened span.child-3 {
    transform: translate(0.02vw, -0.5vw) rotate(-45deg);
  }
}

/* projects */

.project-item h3::before {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  width: 0%;
  height: 1.5px;
  background-color: rgba(35, 31, 32, 0.6);
  transition: all 0.3s ease-in-out;
}

.project-item:hover h3::before {
  width: 100%;
}
